html {
  font-family: sans-serif;
  font-feature-settings: 'calt' off;
}

body {
  margin: 0;
  color: #ffcad9ff;
  background-color: #231f20ff;
}

body > div {
  min-width: 100vw;
}

button,
input,
textarea {
  border: none;
  background-color: rgb(23, 23, 26);
  color: #ffcad9ff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
